.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ant-avatar {
  width: 64px;
  height: 64px;
}

.ant-page-header-heading-left {
  flex-direction: column;
}

.ant-divider-plain.ant-divider-with-text, .ant-page-header-heading-sub-title {
  color:rgb(235, 237, 240)
}

.ant-divider-horizontal.ant-divider-with-text:after, .ant-divider-horizontal.ant-divider-with-text:before {
  border-color: rgb(235, 237, 240);
}

.main {
  background-color: #282c34;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ant-page-header-heading-title {
  font-size: 30px;
  color:rgb(235, 237, 240)
}

.ant-select {
  width: 500px;
}

.ant-card {
  width: 500px;
  height: 600px;
  margin-top: 30px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media (max-width: 500px) {

  .ant-select {
    width: 400px;
  }

  .ant-card {
    width: 400px;
  }

}


@media (max-width: 400px) {

  .ant-select {
    width: 350px;
  }

  .ant-card {
    width: 350px;
  }

}
